POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=cliniq
POSTGRES_USER=cliniq_user
POSTGRES_PASSWORD=changeme

ES_HOST=localhost
ES_PORT=9200
ES_INDEX=clinical_notes

# Get a free key at console.groq.com
GROQ_API_KEY=gsk_...

APP_ENV=development
LOG_LEVEL=INFO
